<%- include('header') -%>

<body>

  <div class="d-flex" id="wrapper">

    <%- include('sidebar') -%>    

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <%- include('sidenext') -%>  

      <div class="container-fluid">
        <h3 class="mt-4">Data Added Successfully:</h3>
        <br>
        Name : <%= locals.name%><br>
        Profile: <%= locals.profile%><br>
        Location: <%= locals.location%><br>
        Package : <%= locals.package%><br><br><br><br>

        
      </div>
      
      
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

 
  <%- include('footer') -%>
 

</body>

</html>
